:root{
  --verde-crcc: #006361;
  --dorado-crcc: #B97F00;
  --negro-crcc: #111111;
  --gris-claro: #f4f4f4;
  --blanco: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--gris-claro);
  color: var(--negro-crcc);
}

.contenedor{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta{
  background-color: var(--blanco);
  padding: 40px;
  border-radius: 16px;
  width: 450px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.titulo{
  color: var(--verde-crcc);
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}

.subtitulo{
  color: #666;
  margin-bottom: 30px;
}

.input{
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.boton{
  background-color: var(--verde-crcc);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: 0.3s;
}

.boton:hover{
  background-color: #004c4a;
}

.dashboard{
  min-height: 100vh;
  background-color: #f4f4f4;
}

.navbar{
  background-color: var(--verde-crcc);
  color: white;
  padding: 20px;
}

.contenido-dashboard{
  padding: 30px;
  display: flex;
  gap: 20px;
}

.card-dashboard{
  background-color: white;
  padding: 25px;
  border-radius: 14px;
  width: 250px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.dashboard-layout{
  display: flex;
}

.sidebar{
  width: 250px;
  min-height: calc(100vh - 76px);
  background-color: white;
  padding: 20px;
  box-shadow: 2px 0px 10px rgba(0,0,0,0.05);
}

.menu-boton{
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--verde-crcc);
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.menu-boton:hover{
  background-color: #004c4a;
}

.tabla-contenedor{
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.tabla-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabla{
  width: 100%;
  border-collapse: collapse;
}

.tabla th{
  background-color: var(--verde-crcc);
  color: white;
  padding: 14px;
  text-align: left;
}

.tabla td{
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

.boton-agregar{
  background-color: var(--verde-crcc);
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.boton-tabla{
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
  color: white;
}

.editar{
  background-color: #e7b038;
}
.eliminar{
  background-color: #c0392b;
}